.groupeBoutonDropdownCuisine {
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  gap: 19px;
  text-align: left;
  font-size: 14px;
  color: #fffbf8;
  font-family: Poppins;
  border: none;
}

.ouvertfermdropdownFerm {
  align-self: stretch;
  height: 40px;
  border-radius: 50px;
  background-color: #85031f;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ouvertfermdropdownFerm:hover {
  background-color: #6d0219;
}

.labelIcne {
  height: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.chefHatIcon {
  width: 16px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
}

.typeDeCuisine {
  position: relative;
}

.ouvertfermdropdownOuvert {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boutonDropdownvariant2 {
  align-self: stretch;
  height: 40px;
  border-radius: 10px 10px 0px 0px;
  background-color: #85031f;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 8px;
  cursor: pointer;
}

.chevronDownIcon2 {
  width: 16px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.labelParent {
  align-self: stretch;
  border-radius: 0px 0px 10px 10px;
  background-color: #85031f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  opacity: 0.9;
  position: relative;
  z-index: 9999;
}

.label {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.cuisineAmricaine {
  flex: 1;
  position: relative;
}

@media (max-width: 768px) {
  .groupeBoutonDropdownCuisine {
    padding: 0px 10px;
  }
}
